<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径 -->
    <!--<contextName>data-report</contextName>-->
    <property name="LOG_HOME" value="/Users/wml/Desktop"/>
    <property name="contextName" value="auto" />

    <!-- 控制台输出 -->
    <appender name="AnsibleMiddleware" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS} %5p %c:%L] %m%n</pattern>
            <!-- 日志输出编码 -->
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 输出到日志文件 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${LOG_HOME}/${contextName}.%d{yyyy-MM-dd_HH}.log</FileNamePattern>
            <MaxHistory>72</MaxHistory>
        </rollingPolicy>
        <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n
            </pattern>
        </layout>

        <!--日志文件最大的大小-->
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
       
    </appender>

    <!-- 输出到Logstash -->
<!--     <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"app":"${contextName}"}</customFields>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <destination>127.0.0.1:4560</destination>
    </appender> -->

    <!--logback 异步写入方式-->
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="FILE" />
    </appender>

    <!-- 用来设置某一个包或者具体的某一个类的日志打印级别，包名要与实际项目一致 -->
    <!-- 正式生产环境上，各个包的将设置为ERROR -->
    <!-- 将级别为“DEBUG”及大于“DEBUG”的日志信息传递给root处理，本身并不打印 -->
    <logger name="ansibleEx.AnsibleMiddleware" level="ERROR" />

    <!--引入的包的日志打印级别 -->
    <logger name="ansibleEx.AnsibleMiddleware" level="ERROR"/>
<!--     <logger name="org.mybatis.spring" level="ERROR"/>
    <logger name="com.alibaba.dubbo" level="ERROR"/>
    <logger name="com.alibaba.druid" level="ERROR"/> -->


    <root level="INFO"> <!-- root将级别为“INFO”及大于“INFO”的日志信息交给已经配置好的名为“operation”的appender处理，“operation”appender将信息打印到operation； -->
        <appender-ref ref="AnsibleMiddleware" /> <!-- 标识这个appender将会添加到这个logger -->
        <appender-ref ref="FILE" />
<!--         <appender-ref ref="LOGSTASH" />
 -->    </root>
</configuration>